{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Work Experience</h1>


    <div class="card role">
        <a href="https://home.kpmg/uk/en/home.html">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="role-logo" src="{% static 'images/kpmg_logo.png' %}" alt="kpmg logo">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Senior Software Engineer</h4>
                    <p class="card-text">KPMG UK</p>
                </div>
            </div>
        </a>
    </div>
    <div class="card role">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="role-logo" src="{% static 'images/mediamath_logo.png' %}" alt="mediamath logo">
            </div>
            <div class="card-body">
                <h4 class="card-title">Software Engineer</h4>
                <p class="card-text">MediaMath</p>
            </div>
        </div>
    </div>
    <div class="card role">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="role-logo" src="{% static 'images/sainsburys_logo.png' %}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Software Engineer</h4>
                <p class="card-text">Sainsbury's</p>
            </div>
        </div>
    </div>
    <div class="card role">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="role-logo" src="{% static 'images/kpmg_logo.png' %}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Senior Software Engineer</h4>
                <p class="card-text">KPMG UK</p>
            </div>
        </div>
    </div>
    <div class="card role">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="role-logo" src="{% static 'images/kpmg_logo.png' %}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Software Engineer</h4>
                <p class="card-text">Telemetry</p>
            </div>
        </div>
    </div>
    <div class="card role">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="role-logo" src="{% static 'images/kpmg_logo.png' %}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title">Senior Software Engineer</h4>
                <p class="card-text">KPMG UK</p>
            </div>
        </div>
    </div>

{% endblock %}