{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <script>
        function toggleMenu() {
            document.getElementById("sidebar").classList.toggle("active");
            document.getElementById("content").classList.toggle("active");
        }
    </script>
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/content.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/brands.min.css' %}" rel="stylesheet">
    {% block code_highlight %}{% endblock %}
</head>

<body>
<div id="wrapper">
    <nav class="d-flex flex-column justify-content-around p-3" id="sidebar">
        <div id="menu-toggle-area">
            <button type="button" aria-label="Menu toggle" onclick="toggleMenu()" id="menuToggle" class="btn mb-2">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div id="my-avatar">
            <img src="{% static 'blog/images/me.jpg' %}" alt="Avatar" style="width:100px">
            <div id="my-title">
                <h5>Angelos Panagiotopoulos</h5>
            </div>
            <div>
                Software Engineer
            </div>
        </div>
        <div id="navbar-links" class="list-group list-group-flush">
            <a class="list-group-item" href="{% url "blog:index" %}"><i class="fas fa-home m-2"></i>Blog</a>
            <a class="list-group-item" href="{% url "blog:about" %}"><i class="fas fa-user m-2"></i>About</a>
            <a class="list-group-item" href="{% url "blog:experience" %}"><i class="fas fa-briefcase m-2"></i></i>
                Experience</a>
            <a class="list-group-item" href="{% url "blog:contact" %}"><i
                    class="fas fa-envelope m-2"></i>Contact</a>
        </div>
        <div class="d-flex justify-content-around mt-auto mb-5" id="socials-container">
            <a id="social-linkedin" aria-label="my linkedin"
               href="https://www.linkedin.com/in/angelos-panagiotopoulos-94524b4a" target="_blank"
               rel="noopener noreferrer"><i
                    class="fab fa-linkedin fa-2x"></i></a>
            <a id="social-github" aria-label="my github" href="https://github.com/angelospanag" target="_blank"
               rel="noopener noreferrer"><i
                    class="fab fa-github fa-2x"></i></a>
            <a id='social-twitter' aria-label="my twitter" href="https://twitter.com/angelospanag" target="_blank"
               rel="noopener noreferrer"><i
                    class="fab fa-twitter fa-2x"></i></a>
            <a id="social-mail" aria-label="my mail" href="mailto:angelospanag@gmail.com" target="_blank"
               rel="noopener noreferrer"><i
                    class="fas fa-envelope fa-2x"></i></a>
        </div>
    </nav>
    <div class='p-5' id="content">
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>