{% extends 'base.html' %}
{% load static %}
{% block title %}Contact / Angelos Panagiotopoulos{% endblock %}
{% block content %}

    <div class="container">
        <h2 class="mb-4">Contact</h2>
        <div class="row">
            <div class="col-12 col-sm-7 mb-4">
                <form action="/contact/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-12 col-sm-5">
                <h6>Email</h6>
                <div class="d-flex justify-content-start pb-2 mb-2">
                    <div><i class="fas fa-envelope"></i></div>
                    <div><a class="social-mail m-2" aria-label="my mail" href="mailto:angelospanag@gmail.com"
                            target="_blank"
                            rel="noopener noreferrer">angelospanag@gmail.com</a></div>
                </div>
                <div class="dropdown-divider" style="background-color: aliceblue"></div>
                <h6>Socials</h6>
                <div class="d-flex justify-content-start mt-auto socials-container">
                    <a class="social-linkedin m-2" aria-label="my linkedin"
                       href="https://www.linkedin.com/in/angelos-panagiotopoulos-94524b4a" target="_blank"
                       rel="noopener noreferrer"><i
                            class="fab fa-linkedin fa-2x"></i></a>
                    <a class="social-github m-2" aria-label="my github" href="https://github.com/angelospanag"
                       target="_blank"
                       rel="noopener noreferrer"><i
                            class="fab fa-github fa-2x"></i></a>
                    <a class='social-twitter m-2' aria-label="my twitter" href="https://twitter.com/angelospanag"
                       target="_blank"
                       rel="noopener noreferrer"><i
                            class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div class="dropdown-divider" style="background-color: aliceblue"></div>
                <h6>Instant Messengers</h6>
                <div class="p-1">
                    Signal: <a href="https://signal.org/install"><img style="border-radius: 5px" src="{% static 'blog/images/signal_logo.png' %}"
                                                                      width="40" height="40" alt="signal_logo"/></a>
                </div>
                <div class="p-1">
                    Wire:
                    <a href="https://wire.com/en/download/"><img src="{% static 'blog/images/wire_logo.webp' %}"
                                                                 width="40" height="40" alt="wire_logo"/></a>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
