{% extends 'base.html' %}
{% load static %}

{% block title %}Experience / Angelos Panagiotopoulos{% endblock %}
{% block content %}
    <h2 class="mb-4">Experience</h2>
    <h4>Certifications</h4>
    <div class="d-flex flex-wrap">
        <a href="https://www.credential.net/96fc938e-2b83-4102-a5cd-479dd66c5b6d" class="certification">
            <div class="card m-2" style="width: 14rem;">
                <img class="card-img-top" src="{% static 'blog/images/associate_cloud_engineer_badge.png' %}"
                     alt="Associate Cloud Engineer certificate logo">
                <div class="card-body">
                    <h6 class="card-title">Associate Cloud Engineer</h6>
                    <p class="card-text">Google Cloud</p>
                </div>
            </div>
        </a>
        <a href="https://www.coursera.org/account/accomplishments/certificate/GDU7XGGRJR9B" class="certification">
            <div class="card m-2" style="width: 14rem;">
                <img class="card-img-top" src="{% static 'blog/images/coursera_certificate.png' %}"
                     alt="Coursera certificate logo">
                <div class="card-body">
                    <h6 class="card-title">Google Cloud Platform Fundamentals for AWS Professionals</h6>
                    <p class="card-text">Coursera</p>
                </div>

            </div>
        </a>
        <a href="https://www.coursera.org/account/accomplishments/certificate/K35NZF6BW764" class="certification">
            <div class="card m-2" style="width: 14rem;">
                <img class="card-img-top" src="{% static 'blog/images/coursera_certificate.png' %}"
                     alt="Coursera certificate logo">
                <div class="card-body">
                    <h6 class="card-title">Data Science Math Skills</h6>
                    <p class="card-text">Coursera</p>
                </div>

            </div>
        </a>
        <a href="https://www.coursera.org/account/accomplishments/certificate/DH2AHBNF7RTA" class="certification">
            <div class="card m-2" style="width: 14rem;">
                <img class="card-img-top" src="{% static 'blog/images/coursera_certificate.png' %}"
                     alt="Coursera certificate logo">
                <div class="card-body">
                    <h6 class="card-title">Managing Machine Learning Projects with Google Cloud</h6>
                    <p class="card-text">Coursera</p>
                </div>

            </div>
        </a>
        <a href="https://www.coursera.org/account/accomplishments/certificate/AJ5PPQT56BML" class="certification">
            <div class="card m-2" style="width: 14rem;">
                <img class="card-img-top" src="{% static 'blog/images/coursera_certificate.png' %}"
                     alt="Coursera certificate logo">
                <div class="card-body">
                    <h6 class="card-title">Getting Started with AWS Machine Learning</h6>
                    <p class="card-text">Coursera</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
