#content {
    background-color: #370617;
    color: aliceblue;
}

#menuToggle {
    background-color: #07113e;
    color: aliceblue;
    border-radius: 50px;
    box-shadow: none;
}

.role-logo {
    width: 50px;
    height: 30px;
}

.role {
    background: #350f1a;
}

.role > a {
    text-decoration: none;
    color: aliceblue;
}

.role:hover {
    background: #6a040f;
}

.btn-primary {
    background-color: #07113e;
    border-color: #07113e;
}