#content {
    background-color: #370617;
    color: aliceblue;
}

#menuToggle {
    background-color: #07113e;
    color: aliceblue;
    border-radius: 50px;
    box-shadow: none;
}

.role-logo {
    width: 50px;
    height: 30px;
}

.role {
    background: #350f1a;
}

.role > a {
    text-decoration: none;
    color: aliceblue;
}

.role:hover {
    background: #6a040f;
}

.btn-primary {
    background-color: #07113e;
    border-color: #07113e;
}

pre {
    background-color: #1E1E20;
    color: #b8a276;
}

code {
    background-color: #1E1E20;
    color: #b8a276;
}

a {
    color: #4ea8de;
}

a:hover {
    color: #4ea8de;
}

.post {
    background: #350f1a;

}

.post > a {
    text-decoration: none;
    color: aliceblue;
}

.post:hover {
    background: #6a040f;
}